<h1>Rifqi Subagja</h1>
<p>Saya peserta bootcamp dari Universitas Pendidikan Indonesia dengan jurusan Pendidikan Ilmu Komputer</p>
<!-- Pemanggilan gambar hanya perlu memanggil dari images saja, karena express telah mengatur
directory static yang telah diberikan akses agar dapat diakses oleh client(browser) -->
<img src="images/patrick.jpg" width="100%" height="100%" alt="">